<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">{{ .Site.Params.author }}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link{{ if eq $.RelPermalink .URL }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>

      <div class="d-flex align-items-center social-links ms-lg-3 mt-3 mt-lg-0">
        {{ if .Site.Params.github }}
        <a href="{{ .Site.Params.github }}" class="me-2" target="_blank" rel="noopener" aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
        {{ end }}
        {{ if .Site.Params.linkedin }}
        <a href="{{ .Site.Params.linkedin }}" class="me-2" target="_blank" rel="noopener" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
        {{ end }}
        {{ if .Site.Params.twitter }}
        <a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener" aria-label="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
